.AboutMe {
    background-color: #2e5090;
}

.AboutMe .Container {
    display: flex;
    padding-left: 10px;
    padding-top: 8%;
    padding-bottom: 15%;
}

.AboutMe .Container .Text {
    width: 40%;
    border-radius: 75px;
    background-color: #003366;
    padding-left: 100px;
    box-shadow:-50px 50px 25px #00336646;
    margin-right: 250px;
}

.AboutMe .Container .Text h2 {
    font-weight: 30;
    font-size: 32px;
    color: #ececec;
    padding-top: 50px;
    padding-bottom: 25px;
}

.AboutMe .Container .Text p{
    color: #ececec;
    font-weight: 5;
    font-style: italic;
    padding-right: 100px;
    padding-top: 45px;
    padding-bottom: 55px;
    font-size: 25px;
}

.AboutMe .Container .Photo {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    border-radius: 15;
    margin-left: -50px;
    margin-right: 100px;
}

.AboutMe .Container .Photo .Me {
    height: 300px;
    border-radius: 200px;
}