.Home {
    background: #2e5090;
    display: flex;
    height: 400px;
    padding-top: 275px;
    padding-bottom: 300px;
}

.Home .Container h3{
    margin:0;
    font-weight: 10;
    font-size: 23px;
    margin-left: 675px;
    margin-right: 350px;
    color: #ececec;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 30px;
    border-radius: 25px;
    background-color: #003366;
    box-shadow: -25px 25px 15px #00336646;
}

.Home .Container h4{
    margin:0;
    font-weight: 10;
    font-size: 23px;
    margin-left: 795px;
    margin-right: 200px;
    margin-top: 75px;
    color: #ececec;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 30px;
    border-radius: 25px;
    background-color: #003366;
    box-shadow: -25px 25px 15px #00336646;
}

.Home .Container h5{
    margin:0;
    font-weight: 10;
    font-size: 23px;
    margin-left: 950px;
    margin-top: 75px;
    color: #ececec;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 30px;
    border-radius: 25px;
    background-color: #003366;
    box-shadow: -25px 25px 15px #00336646;
} 